
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEs
.idea/
.project
.classpath
.settings/
.vscode/
.DS_Store
.gradle/
build/
target/
*/bin/



#layout-mentainance-app
layout-mentainance-app/src/main/java/com/layout/MainApp.java
layout-mentainance-app/src/main/java/com/layout/admin/AdminMenu.java
layout-mentainance-app/src/main/java/com/layout/config/MongoConnection.java
layout-mentainance-app/src/main/java/com/layout/dao/Admin.java
layout-mentainance-app/src/main/java/com/layout/dao/Maintenance.java
layout-mentainance-app/src/main/java/com/layout/dao/Owner.java
layout-mentainance-app/src/main/java/com/layout/dao/Site.java
layout-mentainance-app/src/main/java/com/layout/dbOperation/AdminDAO.java
layout-mentainance-app/src/main/java/com/layout/dbOperation/MaintenanceDAO.java
layout-mentainance-app/src/main/java/com/layout/dbOperation/OwnerDAO.java
layout-mentainance-app/src/main/java/com/layout/dbOperation/SiteDAO.java
layout-mentainance-app/src/main/java/com/layout/model/Admin.java
layout-mentainance-app/src/main/java/com/layout/model/Maintenance.java
layout-mentainance-app/src/main/java/com/layout/model/Owner.java
layout-mentainance-app/src/main/java/com/layout/model/Site.java
layout-mentainance-app/src/main/java/com/layout/owner/OwnerMenu.java
layout-mentainance-app/src/main/java/com/layout/setup/CreateCollections.java
layout-mentainance-app/src/main/java/com/mohit/layout/MainApp.java
layout-mentainance-app/src/main/java/com/mohit/layout/admin/AdminMenu.java
layout-mentainance-app/src/main/java/com/mohit/layout/config/MongoConnection.java
layout-mentainance-app/src/main/java/com/mohit/layout/dao/Admin.java
layout-mentainance-app/src/main/java/com/mohit/layout/dao/Maintenance.java
layout-mentainance-app/src/main/java/com/mohit/layout/dao/Owner.java
layout-mentainance-app/src/main/java/com/mohit/layout/dao/Site.java
layout-mentainance-app/src/main/java/com/mohit/layout/dbOperation/AdminDAO.java
layout-mentainance-app/src/main/java/com/mohit/layout/dbOperation/MaintenanceDAO.java
layout-mentainance-app/src/main/java/com/mohit/layout/dbOperation/OwnerDAO.java
layout-mentainance-app/src/main/java/com/mohit/layout/dbOperation/SiteDAO.java
layout-mentainance-app/src/main/java/com/mohit/layout/model/Admin.java
layout-mentainance-app/src/main/java/com/mohit/layout/model/Maintenance.java
layout-mentainance-app/src/main/java/com/mohit/layout/model/Owner.java
layout-mentainance-app/src/main/java/com/mohit/layout/model/Site.java
layout-mentainance-app/src/main/java/com/mohit/layout/owner/OwnerMenu.java
layout-mentainance-app/src/main/java/com/mohit/layout/setup/CreateCollections.java

#scheduler
scheduler/src/main/java/com/example/scheduler/Scheduler.java
scheduler/src/main/java/com/example/scheduler/SchedulerApplication.java
scheduler/src/main/java/com/mohit/scheduler/Scheduler.java
scheduler/src/main/java/com/mohit/scheduler/SchedulerApplication.java
